.weather-container {
  position: relative;
  overflow: hidden;

}
.container-cloudes{
  position: absolute;
  width: 200%;
  height: 100%;
  display: flex;
}
.cloudes{
  animation: slide 10s linear infinite;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/Cloud-background.png');
  background-repeat: repeat-x;
  /* background-repeat: no-repeat; */
  opacity: 0.1;
  background-position: center;
  background-size: contain;
}

@keyframes slide {
  0% {
    transform: translateX(50%); /* Comienza en el centro */
  }
  100%{
  transform: translateX(-50%); /* Termina fuera del contenedor a la izquierda */

  }
}
